{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.jsx", "*.tsx", "*.mjs", "*.cjs"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}
